body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.container .left,
.container .right {
  flex-basis: calc(50% - 5px);
  box-sizing: border-box;
  padding: 20px;
}

.container .right {
width: 100%;
height: 800px;
}

@media (max-width: 600px) {
  .container {
      flex-direction: column;
  }
  .container .left,
  .container .right {
      flex-basis: 100%;
      margin-bottom: 10px;
  }
}

h1 {
  text-align: center;
}
